In [ ]:
import duckdb


endpoint = "s3-west.nrp-nautilus.io"
url_style = "path"
duckdb.sql(f'''
CREATE OR REPLACE SECRET s3 (
    TYPE S3,
    ENDPOINT '{endpoint}',
    URL_STYLE '{url_style}'
);
''')

wetlands = duckdb.read_parquet("s3://public-wetlands/hex/**")
species = duckdb.read_parquet("https://s3-west.nrp-nautilus.io/public-mobi/hex/all-richness-h8.parquet")

In [ ]:
import ibis
from ibis import _
import os
endpoint = os.getenv("AWS_S3_ENDPOINT", "s3-west.nrp-nautilus.io")
url_style = "path"
con = ibis.duckdb.connect()

set_secrets = f'''
CREATE OR REPLACE SECRET s3_key (
    TYPE S3,
    ENDPOINT '{endpoint}',
    URL_STYLE '{url_style}'
);
'''

con.raw_sql(set_secrets)
richness = con.read_parquet("https://s3-west.nrp-nautilus.io/public-mobi/hex/all-richness-h8.parquet").select('richness', 'h8')
wetlands = con.read_parquet("s3://public-wetlands/hex/**")
tracts_z8 = con.read_parquet("https://s3-west.nrp-nautilus.io/public-social-vulnerability/2022-tracts-h3-z8.parquet").mutate(h8 = _.h8.lower())




wetlands.inner_join(tracts_z8, "h8").head().execute()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,Z,h8,h0,STATE,COUNTY,FIPS
0,24,881396d5a3fffff,800dfffffffffff,Alaska,Yakutat City and Borough,02282000100
1,6,881396d5a3fffff,800dfffffffffff,Alaska,Yakutat City and Borough,02282000100
2,6,881396d5a3fffff,800dfffffffffff,Alaska,Yakutat City and Borough,02282000100
3,24,881396d5b5fffff,800dfffffffffff,Alaska,Yakutat City and Borough,02282000100
4,24,881396d5b5fffff,800dfffffffffff,Alaska,Yakutat City and Borough,02282000100

# Test MCP Server Access

Now that the MCP server is configured, you can test it by asking me (GitHub Copilot) questions about the wetlands data!

Try asking:
- "How many records are in the wetlands dataset?"
- "What are the column names in the wetlands parquet files?"
- "Show me a sample of wetlands data joined with species richness data"

The MCP server uses DuckDB to query the data directly from S3/MinIO.